<%= image_tag @dish.image.url(:medium) %>
<h2><%= @dish.title %></h2>
<h3><%= @dish.restaurant %></h3>
<p><%= @dish.city %></p>
<p><%= @dish.price %></p>
<p><%= @dish.description %></p>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

  <% if @dish.user_id == current_user.id %>

    <%= link_to "Edit", edit_dish_path(@dish) %>
    <%= link_to "Delete", dish_path(@dish), method: :delete, data: { confirm: "Are you sure?" } %>

  <% end %>

<% end %>
