<div class="row">

  <div class="col-md-4">

    <%= image_tag @dish.image.url(:medium), class: "dish-show" %>

  </div>

  <div class="col-md-8">

    <div class = "dish-info">

      <h1 class="dish-title"><%= @dish.title %></h1>
      <h3 class="dish-restaurant">Restaurant: <%= @dish.restaurant %></h3>
      <h4 class="dish-category">Category: <%= @dish.category.name %></h4>
      <p class="dish-city">City: <%= @dish.city %></p>
      <p>Price:  $<%= @dish.price %></p>
      <p>Description: <%= @dish.description %></p>
      <h3>Average Rating</h3>
        <div class="average-review-rating" data-score=<%= @average_review %>></div>
      <span>Based on <%= @dish.reviews.count %> reviews</span>

    </div>

  </div>


</div>

<div class="row">

  <div class="col-md-4">

    <div class="reviews">

      <!--Where the reviews/ratings will go -->
      <h2>Reviews</h2>
      <%= render @dish.reviews %>

      <div>
      <%= link_to "Add Review", new_dish_review_path(@dish) %>
      </div>

    </div>

  </div>

</div>

<div class="links btn-group">

<%= link_to "Back", root_path, class: "btn" %>

  <% if user_signed_in? %>

    <% if @dish.user_id == current_user.id %>

      <%= link_to "Edit", edit_dish_path(@dish), class: "btn" %>
      <%= link_to "Delete", dish_path(@dish), method: :delete, data: { confirm: "Are you sure?" }, class: "btn" %>

    <% end %>

  <% end %>

</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<script>
    $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>


