<div class="row">

  <div class="col-md-4">

    <%= image_tag @dish.image.url(:medium), class: "dish-show" %>

  </div>

  <div class="col-md-8">
    <h2><%= @dish.title %></h2>
    <h3>Restaurant: <%= @dish.restaurant %></h3>
    <h4>Category: <%= @dish.category.name %></h4>
    <p>City: <%= @dish.city %></p>
    <p>Price:  $<%= @dish.price %></p>
    <p>Description: <%= @dish.description %></p>
  </div>


</div>

<div class="row">

  <div class="col-md-4">

    <!--Where the reviews/ratings will go -->
    <%= render @dish.reviews %>

    <div>
      <%= link_to "Add Review", new_dish_review_path(@dish) %>
    </div>

  </div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

  <% if @dish.user_id == current_user.id %>

    <%= link_to "Edit", edit_dish_path(@dish) %>
    <%= link_to "Delete", dish_path(@dish), method: :delete, data: { confirm: "Are you sure?" } %>

  <% end %>

<% end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>


